<% @title="Onemus login" %>
<table>
  <tr>
    <td>
      <h2>Signup</h2>
      <%= form_for :create, url: {action: "create"} do |f| %>
        <p>
          <%= f.label :username %><br>
          <%= f.text_field :username %>
        </p>

        <p>
          <%= f.label :password %><br>
          <%= f.password_field :password %>
        </p>
        <p>
          <%= f.label :confirm_password %><br>
          <%= f.password_field :confirm_password %>
        </p>
        <p>
          <%= f.submit "Sign up" %>
        </p>
      <% end %>
    </td>
    <td>
      <h2>Log in</h2>
      <%= form_for :login, url: sessions_login_path do |f|%>
        <p>
          <%= f.label :username %><br>
          <%= f.text_field :username %>
        </p>

        <p>
          <%= f.label :password %><br>
          <%= f.password_field :password %>
        </p>
        <p>
          <%= f.submit "Login" %>
        </p>
      <% end %>
    </td>
  </tr>
</table>
