<% @title="Add cards" %>
<h2>Add cards</h2>
<%= form_for :create_card, url: cards_create_card_path do |f| %>
  <p>
    <%= f.label :type_id %><br>
    <%= f.select :type_id, options_for_select(@card_map) %>
  </p> 

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p class="creature">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </p>

  <p class="hero creature">
    <%= f.label :race %><br>
    <%= f.text_field :race %><br>

    <%= f.label :profession %><br>
    <%= f.text_field :profession %><br>
  </p>

  <p>
    <%= f.label :ability %><br>
    <%= f.text_area :ability %>
  </p>

  <p class="terrain">
    <%= f.label :atk_mod %><br>
    <%= f.text_field :atk_mod %><br>

    <%= f.label :hit_mod %><br>
    <%= f.text_field :hit_mod %><br>

    <%= f.label :ev_mod %><br>
    <%= f.text_field :ev_mod %>
  </p>

  <p class="hero creature">
    <%= f.label :atk %><br>
    <%= f.text_field :atk %><br>

    <%= f.label :hp %><br>
    <%= f.text_field :hp %><br>
  </p>

  <p>
    <%= f.submit "Add card" %>
  </p>
<% end %>
