<!DOCTYPE html>
<html>
<head>
  <title><%= "Onemus - " + controller_name.capitalize + "/" + action_name.capitalize %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class="container centered">
    <div class="content centered">
      <% if @sess_user %>
        <p>#Header goes here!</p>
      <% end %>

        <ul>
          <% if flash.key?("messages") %>
            <% flash[:messages].each do |v| %>
              <li><%= v %></li>
            <% end %>
          <% end %>
        </ul>

      <%= yield %>
    </div>
  </div>

<div class="text-centered">#Footer goes here!</div>
</body>
</html>
